@import url('https://fonts.googleapis.com/css?family=Roboto');

$background-colour: #f9f9f9;
$font-grey: #A9A9A9;
$white: #fff;
$faded-white: rgba(255,255,255,0.6);
$active-link: #6d6c6c;
$main-teal: #85c1c4;

/* General styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $background-colour;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
}

/* container styles mobile */

.dashboard-grid {
  margin: 10px auto;
  width: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
  padding-top: 10px;
}

.news-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.outer-grid {
  margin-top: 60px;
}

/* header  styles */
.main-header {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient($main-teal, darken($main-teal, 5%));
  z-index: 10;
  box-shadow: 0px 2px 4px rgba(44,62,80,0.15);

  li {
    margin: 0 15px;
  }

  a {
    position: relative;
  }

  i {
    font-size: 1.5rem;
  }

}

.main-header .menu-icon {
  margin-left: 25px;
}

.main-header .logo-container {
  width: 150px;
  margin-right: auto;
}

.main-header .top-nav-icons {
  display: flex;
}

.main-header .notification {
  background: red;
  padding: 4px 5px;
  border-radius: 5px;
  font-size: 0.6rem;
  position: absolute;
  top: -12px;
  right: -8px;
  box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
}


.main-header .search-bar {
    color: $faded-white;
    font-size: 1.1rem;
    text-indent: 50px;
}

.main-header .searchDiv {
  display: none;
  position: relative;

  .fa-search {
    display: none;
    position: absolute;
    top: 8px;
    left: 10px;
    color: $faded-white;
    font-size: 1.6rem;
  }

  .fa-times {
    display: none;
    position: absolute;
    top: 8px;
    right: 15px;
    color: $faded-white;
    font-size: 1.6rem;
    cursor: pointer;
  }
}


.main-header .search-bar::-webkit-input-placeholder {
  color: $faded-white;
}

/* Side Nav Bar Styles */

.side-nav {
  position: fixed;
  height: 100%;
  width: 180px;
  top: 60px;
  left: -180px;
  background: $white;
  transition: all 300ms linear;
  border-right: 0.2px solid rgba(0,0,0,.5);
  z-index: 3;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(44,62,80,0.15);

  hr {
    opacity: 0.3;
  }

  img {
    border-radius: 50%;
    width: 50px;
  }

  .profile {
    margin: 5px;
  }

  span {
    font-size: 0.95rem;
  }
}

.side-nav.active {
  left: 0px;
}

.side-nav a {
  font-size: 1.2rem;
  color: $font-grey;

  :hover {
    color: $active-link;
  }
}

.side-nav a small {
  margin-left: 10px;
}

.side-nav li {
  margin: 25px 10px;
}

.active-link {
  color: $active-link !important;
  font-weight: 600;
}

/* Dashboard main area styles mobile */

.main-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.stat-cards {
  opacity: 0.8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  width: 100%;
}

.stat-card {
  height: 110px;
  border-radius: 5px;
  color: $white;
  padding: 5px;
  text-align: center;
  box-shadow: inset 0px 2px 4px rgba(44,62,80,0.15), 0px 2px 4px rgba(44,62,80,0.15);
  width: 100%;

  .card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    margin: 10px 5px;;
  }

  h2 {
    font-size: 1rem;
  }

  i {
    font-size: 1.2rem;
  }
}

.orange {
  background: linear-gradient(90deg, #ff7c08 0%, #ffc329 100%);
}

.blue {
  background: linear-gradient(90deg, #0c8fd1 0%, #29c2d9 100%);

}

.red {
  background: linear-gradient(90deg, #fe5a5e 0%, #f58aaa 100%);
}

.green {
  background: linear-gradient(90deg, #41a856 0%, #28dba2 100%);
}

.chart {
  background: white;
  box-shadow: 0px 2px 4px rgba(44,62,80,0.15);
}


table {
  border-spacing: 0;
  text-align: left;
  box-shadow: inset 0px 2px 4px rgba(44,62,80,0.15), 0px 2px 4px rgba(44,62,80,0.15);
}

tr {
  text-align: center;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

td {
  padding: 10px;
  text-align: center;

}

th {
  padding: 20px;
  background: lightblue;
  text-align: center;
}

/* Team List/formation styles mobile */

.team-list-container {
  display: grid;
  grid-template-columns: 1fr;
}

.formation {
  h2 {
    margin: 10px;
    text-align: center;
  }
  .pitch {
      background: linear-gradient(120deg, #99cc4d 0%, #74e083 100%);
      opacity: 0.8;
      border-radius: 5px;
      width: 90%;
      height: 90%;
      margin: 15px auto;
      position: relative;

  }

}

.team-list {
  width: 100%;
  padding: 10px 20px;

  h2 {
    text-align: center;
  }
  li {
    background: transparent;
    border-radius: 5px;
    list-style: none;
    margin-top: 12px;
    position: relative;
  }

  .team-member {
  align-items: flex-start;
  background: $white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
  color: $font-grey;
  display: flex;
  font-size: 1em;
  font-weight: 100;
  height: 50px;
  justify-content: space-between;
  padding: 15px 30px 0px 30px;

  span {
    padding-right: 2.7rem;
  }
  }

  .team-member-icons {
    font-size: 1.2rem;
    margin-left: auto;

    i {
      padding: 0px 5px;
    }
  }
}

/* news styles mobile  */
.news-banner {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 10px;
  margin-bottom: 15px;

  img {
    width: 100%;

  }

  h5 {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
  }

  p {
    font-size: 0.7rem;
    line-height: 15px;
  }

  .extra-text {
    display: none;
  }
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  margin-top: 20px;
}

.news-grid-item {
  img {
    width: 100%;

  }

  h5 {
    font-size: 0.6rem;
    margin-bottom: 0.3rem;
  }

  p {
    font-size: 0.5rem;
    line-height: 13px;
  }
}


/* Form, Modal & Footer styles mobile  */

.signup-form {
  background: $background-colour;
  border-radius: 8px;
  height: 450px;
  padding: 20px;
  margin: 110px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }

  a {
    padding: 15px 39px 15px 39px;
    color: #FFF;
    background-color: $main-teal;
    font-size: 1.4rem;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 70%;
    border: 1px solid darken($main-teal, 5%);
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(158,51,152,0.1) inset;
    margin: 30px auto;
  }
}

input[type="password"],
input[type="email"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: auto;
  outline: 0;
  padding: 15px;
  margin: 5px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

.main-footer {
  height: 40px;
  background: linear-gradient(90deg, #9e3398 0%, #ffb732 100%);
  border-top: 0.2px solid rgba(0,0,0,.5);
  position: fixed;
  bottom: 0px;
  width: 100%;
}




/* ------------------- Media Queries ------------------------------*/

@media(min-width: 576px) {
  .signup-form {
  width: 50%;
  }

  .menu-icon {
    display: none;
  }

  /* container styles */
  .outer-grid {
  display: grid;
  grid-template-areas:
                "sidenav main";
  grid-template-columns: 250px 1fr;
  }

  .dashboard-grid {
    width: 95%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "cards cards"
      "chart table-div";
    grid-auto-rows: minmax(100px, auto);
  }

  .news-container {
    width: 95%;
  }

  /* header styles */

  .main-header .search-bar {
    width: 550px;
    border-radius: 3px;
    outline: none;
    border: none;
    background: rgba(255,255,255,0.4);
    height: 30px;
  }

  .main-header .searchDiv {
    display: flex;
    margin-right: auto;

    .fa-search, .fa-times {
      display: flex;
    }

  }


  .main-header .logo-container {
    width: 250px;
  }

  /* Side Nav Bar Styles */

  .side-nav {
    left: 0px;
    width: 250px;
    grid-area: sidenav;
  }


  /* Main content styles */
  .main-content {
    grid-area: main;
  }

  .stat-cards {
    grid-area: cards;
    grid-template-columns: repeat(4, 1fr);
  }

  .stat-card {
    height: 150px;
    padding: 20px;

    .card-title {
      margin: 0px 10px 20px 10px;
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    i {
      font-size: 2.5rem;
    }

  }

  .chart {
    grid-area: chart;
  }

  .table-div {
    grid-area: table-div;
  }
}


/* Team List styles medium  */

@media(min-width: 992px){

  /* Header styles */

  .main-header .search-bar {
    display: inline-block;
    height: 40px;
    width: 780px;
    margin-right: auto;
  }

  .main-header .logo-container  {
    margin-right: 90px;
  }

  .signup-form {
    width: 32%;

    a {
      font-size: 1.5rem;
    }
  }

  /* news section medium */
  .news-banner {
    grid-template-columns: 1fr 1fr;
    margin: 25px auto;
    width: 90%;

    h5 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.15rem;
      line-height: 35px;;
    }

    .extra-text {
      display: block;
    }
  }

  .news-grid {
    grid-gap: 30px;
    margin: 25px auto;
    width: 90%;
    h5 {
      font-size: 1.8rem;
      margin: 15px 0px
    }

    p {
      font-size: 1rem;
      line-height: 25px
    }
  }

  /* team list styles large screen*/

  .team-list-container {
    grid-template-columns: 1fr 1fr;
  }

  .team-list {
    width: 80%;
    margin: 0 auto;
  }
}
